## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [3]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
0,4,Vaini,TO,75.36,broken clouds,-21.2000,-175.2000,Keleti Beach Resort
1,10,Faanui,PF,76.73,overcast clouds,-16.4833,-151.7500,Bora-Bora Pearl Beach Resort & Spa
2,12,Bac Lieu,VN,79.45,overcast clouds,9.2850,105.7244,Khách sạn Sài Gòn Bạc Liêu
3,14,Hambantota,LK,78.73,scattered clouds,6.1241,81.1185,Bungalow 63
4,20,Broome,US,78.15,scattered clouds,42.2506,-75.8330,Chenango Valley State Park

In [6]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Description} and {Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [7]:
# 4a. Add a marker layer for each city to the map.
locations = vacation_df[["Lat", "Lng"]]
max_temp = vacation_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)



# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df["City"] == 'Chateau-Gontier']
vacation_end = vacation_df.loc[vacation_df["City"] == 'Chateau-Gontier']
vacation_stop1 = vacation_df.loc[vacation_df['City'] == 'Chalons-En-Champagne']
vacation_stop2 = vacation_df.loc[vacation_df['City'] == 'Vitry-Le-Francois'] 
vacation_stop3 = vacation_df.loc[vacation_df['City'] == 'Saint-Francois']

In [22]:
import numpy as np
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list
# indexing.
start = (vacation_start['Lat'].to_numpy()[0], vacation_start['Lng'].to_numpy()[0])
end = (vacation_end['Lat'].to_numpy()[0], vacation_end['Lng'].to_numpy()[0])
stop1 = (vacation_stop1['Lat'].to_numpy()[0], vacation_stop1['Lng'].to_numpy()[0])
stop2 = (vacation_stop2['Lat'].to_numpy()[0], vacation_stop2['Lng'].to_numpy()[0])
stop3 = (vacation_stop3['Lat'].to_numpy()[0], vacation_stop3['Lng'].to_numpy()[0])
print(f"start = {start}")
print(f"end = {end}")
print(f'stop1 = {stop1}')
print(f'stop2 = {stop2}')
print(f'stop3 = {stop3}')

start = (47.8333, -0.7)
end = (47.8333, -0.7)
stop1 = (48.9539, 4.3672)
stop2 = (48.7333, 4.5833)
stop3 = (46.4154, 3.9054)

In [63]:
import gmaps
import gmaps.datasets
gmaps.configure(api_key=g_key)
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
start = (47.8333, -0.7)
end = (47.8333, -0.7)
stop1 = (48.9539, 4.3672)
stop2 = (48.7333, 4.5833)
stop3 = (46.4154, 3.9054)


fig = gmaps.figure(center=(48.0,3.1), zoom_level=6.6)
start_end = gmaps.directions_layer(start, end, waypoints=[stop1, stop2, stop3], travel_mode='DRIVING')
fig.add_layer(start_end)
fig

Figure(layout=FigureLayout(height='420px'))

In [66]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start,vacation_stop1,vacation_stop2,vacation_stop3,vacation_end],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
0,183,Chateau-Gontier,FR,87.96,clear sky,47.8333,-0.7000,Logis Parc Hôtel & Spa
1,122,Chalons-En-Champagne,FR,81.63,clear sky,48.9539,4.3672,Hotel D'Angleterre
2,189,Vitry-Le-Francois,FR,81.46,clear sky,48.7333,4.5833,Hôtel Tambourin
3,199,Saint-Francois,FR,76.68,clear sky,46.4154,3.9054,Manoir Du Bonheur
4,183,Chateau-Gontier,FR,87.96,clear sky,47.8333,-0.7000,Logis Parc Hôtel & Spa

In [67]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [75]:
# 11a. Add a marker layer for each city to the map.
locations = itinerary_df[["Lat", "Lng"]]

fig = gmaps.figure(center=(48.0, 3.1), zoom_level=6.6)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))